<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>コメント削除ページ</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 20px;
            background-color: #b2d8d8;
            margin: 0;
            padding: 0;
        }
        .form-container {
            max-width: 500px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Adjust as needed */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="navbar-brand" href="#">コメント削除ページ</div> 
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href={% url "accounts:stageselect" %}>ステージ選択</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container form-container">
        <h2 class="text-center">コメントを削除</h2>
        <form method="post">
            {% csrf_token %}
            <p class="text-center">"{{ object }}"</p>
            <p class="text-center">を削除してもよろしいですか?</p>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block" value="削除">
            </div>
        </form>
    </div>
</body>
</html>